/* =========================== FONTS =========================== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.page__up {
  height: 992px;
  background: linear-gradient(140deg, #3d32d8, #8c7ec7);
}

header {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto;
  padding: 0.5rem;
  right: 0;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  padding-left: 3.5rem;
  padding-right: 5rem;
}

header .itens {
  padding: 0 1rem;
}

header a {
  color: white;
}

i {
  font-size: 1.25rem;
  position: relative;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  display: flex;
  justify-content: end;
  padding-right: 5rem;
}

li {
  margin-top: 3.5rem;
  padding-right: 0.5rem;
  right: 0;
}

li a {
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}

.cool-link {
  display: inline-block;
  color: white;
  padding: 0.4rem 16px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
}

.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: white;
  transition: width 0.3s;
}

.cool-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}

a span {
  border: 1px solid white;
}

.nav__logo {
  position: absolute;
  left: 0;
  margin: 50px 0 0 200px;
}

.texto__imagem {
  color: white;
}

.text__left {
  margin-top: 175px;
  margin-left: 220px;
}

.img__right {
  position: absolute;
  right: 100px;
  margin-left: 1150px;
  width: 500px;
  top: 120px;
}

.small__text {
  font-size: 1.25rem;
}

.big__text {
  font-size: 4rem;
}

/* BUTTONS */
.button__budget {
  margin-top: 30px;
  background: none;
  padding: 1rem;
  color: white;
  font-size: 1.2rem;
  border: 3px solid white;
  cursor: pointer;
  transition: 0.2s;
}

.button__see-all {
  margin-top: 30px;
  background: none;
  padding: 1rem;
  color: black;
  font-size: 1.2rem;
  border: 3px solid white;
  cursor: pointer;
  transition: 0.2s;
}

.button__see-all i {
  color: black;
}

.button__see-all:hover {
  background: black;
  color: #fefefe;
  transition: 0.2s;
}

.button__see-all:hover i {
  color: white;
}

/* BUTTONS */

.button__budget:hover {
  background: white;
  color: #101010;
  transition: 0.2s;
}

.button__budget i {
  position: relative;
  right: 0;
  font-size: 1.25rem;
}

.button__budget:hover i {
  color: #101010;
}

.social__list {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 630px;
}

.social__links {
  padding: 0;
  margin-top: 16px;
}

.social__links i {
  font-size: 1.5rem;
  cursor: pointer;
}

.line {
  position: absolute;
  right: 93px;
  right: 103px;
  border-left: 1px solid white;
  height: 200px;
  top: 430px;
}

.page__down {
  height: 100%;
  display: flex;
  justify-content: center;
}

.carousel {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1200px;
  max-height: 550px;
  overflow: hidden;
  position: relative;
  padding: 2rem;
  margin-bottom: 36px;
}

.carousel-item {
  visibility: visible;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  -webkit-align-items: center;
  -webkit-justify-content: flex-end;
  position: relative;
  background-color: #fff;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  position: absolute;
  z-index: 0;
  transition: 0.6s all linear;
}

.carousel-item__info {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;

  order: 1;
  left: 0;
  margin: auto;
  padding: 0 40px;
  width: 90%;
}

.carousel-item__image {
  width: 60%;
  height: 100%;
  order: 2;
  align-self: flex-end;
  flex-basis: 60%;

  -webkit-order: 2;
  -webkit-align-self: flex-end;
  -webkit-flex-basis: 60%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
}

.carousel-item__subtitle {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
  font-size: 10px;
  text-transform: uppercase;
  margin: 0;
  color: #7e7e7e;
  font-weight: 700;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s all ease-in-out;
}

.carousel-item__title {
  margin: 15px 0 0 0;
  font-family: "Playfair Display", serif;
  font-size: 44px;
  line-height: 45px;
  letter-spacing: 3px;
  font-weight: 700;
  color: #2c2c2c;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
}

.carousel-item__description {
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
  margin-top: 35px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #7e7e7e;
  line-height: 22px;
  margin-bottom: 35px;
}

.carousel-item--1 .carousel-item__image {
  background-image: url("https://scontent.fcfc1-1.fna.fbcdn.net/v/t1.6435-9/182298144_4231050670262007_4208719427343645703_n.png?_nc_cat=109&ccb=1-5&_nc_sid=973b4a&_nc_ohc=IvUQlvJ1k7cAX8Qsce5&_nc_ht=scontent.fcfc1-1.fna&oh=ce826f5c8e3692fadf9976483f0b75cc&oe=613D118F");
}

.carousel-item--2 .carousel-item__image {
  background-image: url("https://images.unsplash.com/photo-1542282088-fe8426682b8f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
}

.carousel-item--3 .carousel-item__image {
  background-image: url("https://images.unsplash.com/photo-1593313637552-29c2c0dacd35?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
}

.carousel-item--4 .carousel-item__image {
  background-image: url("https://images.unsplash.com/photo-1554284126-aa88f22d8b74?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=857&q=80");
}

.carousel-item--5 .carousel-item__image {
  background-image: url("https://images.unsplash.com/photo-1606811971618-4486d14f3f99?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80");
}

.carousel-item--6 .carousel-item__image {
  background-image: url("https://images.unsplash.com/photo-1565843248736-8c41e6db117b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80");
}

.carousel-item__btn {
  width: 35%;
  color: #2c2c2c;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
  font-size: 11px;
  text-transform: uppercase;
  margin: 0;
  width: 35%;
  font-weight: 700;
  text-decoration: none;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
}

.carousel__nav {
  position: absolute;
  right: 0;
  z-index: 2;
  background-color: #fff;
  bottom: 0;
}

.carousel__icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  fill: #5d5d5d;
}

.carousel__arrow {
  cursor: pointer;
  display: inline-block;
  padding: 11px 15px;
  position: relative;
}

.carousel__arrow:nth-child(1):after {
  content: "";
  right: -3px;
  position: absolute;
  width: 1px;
  background-color: #b0b0b0;
  height: 14px;
  top: 50%;
  margin-top: -7px;
}

.active {
  z-index: 1;
  display: flex;
  visibility: visible;
}

.active .carousel-item__subtitle,
.active .carousel-item__title,
.active .carousel-item__description,
.active .carousel-item__btn {
  transform: translateY(0);
  opacity: 1;
  transition: 0.6s all ease-in-out;
  visibility: visible;
}

.active .carousel-item__image {
  transition: 0.6s all ease-in-out;
  transform: translateX(0);
}
